<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Topics.Practice"/>
      <class name="Topics.TestNG_Script"/>
      <class name="Topics.TestNG"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
